
<%= render "/pages/sidenav" %>

<%= render "/pages/introduction" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="introduction-title center">
    <div class="field title yourtitle" align="center">
      <h2 >This is the Anatomy of <%= f.text_field :name, autofocus: false, autocomplete: "off", placeholder: "your brand name here" %>.</h2>
      <a align="center" href="#chapter1" class="btn btn-primary btn-lg scrollnext">&darr;</a>
    </div>
  </div>
<!--CHAPTER 1 -->
<div id="chapter1" class="chapter">
  <h5 align="center">Chapter 1.</h5><h1 align="center">VALUES</h1><br><br>
    <p>
    <span class="callout">Everything starts with values. </span>
    <br><br>
    <i>The question is:</i> Why are you doing what you are doing. <br><br>
    <i>The answer is:</i> values. <br><br>The reason you get up early and stay up late. The voice in your head; the pit in your stomach. You are driven to do something because you care immensely about something. It causes stress and even though it may cause you some pain, caring, in itself, is an accomplishment. You are already ahead of most people if you care about something. Keep caring. You imbue your creation with your values.
    <br><br>
    You may not know what exactly is driving you- or why you do what you do. That’s ok. It got you this far. But now you must articulate your values. If you don’t, they will slip away and though you continue the work, it will become hollow and tedious to you, and you will wonder what you ever saw in it. 
    <br><br>
    The important thing is to keep going. It will be exhausting. It will hurt. Most people will stop. But you need to keep going. So now, you need to articulate what it is you are racing towards. Knowing your finish line will help you get there. 
    <br><br>
    Values are what you are working to hold to or build. This is where you should begin- with values.
    <br><br>
    (But it rarely begins there. Most often it begins with a stroke of inspiration. An idea. You are going about your business when all of a sudden a connection is made and you have an idea for starting something new. Something that connects old frustrations with new solutions...) 
    <br><br>
    But even if you begin with the big idea, you must work backward to understand WHY this idea matters to you. 
    <br><br>
    The reason values still matter (even after you’ve come up with the idea, and even after you’ve developed the product) has to do with the mind of the customer. Your product is likely not the only one of its kind. 
    <br><br>
    This is okay because we buy things for more than the product. We care about the brand too- about the values associated with the product. Your brand is everything beyond the product. 
    <br><br>
    <span class="callout">This matters because people buy what is not for sale.</span> 
    <br><br>
    They buy your values- because they share them. Products are a means to expressing a value. This is why you must articulate your values-- it is what you are selling, it is why you exist in the world and why you have any customers at all. 
    <br><br>
    You must know what you represent— what fantasy you are in the mind of the customer, what emotion you strike in the customer. The answer to that is why you exist. This is your purpose. It comes from what you value most. 
    <br><br>
    Shopping is the way we, as customers, communicate what kind of person we are. What we wear says what we like; what we like is what we value, what we value is who we are. 
    <br><br>
    <span class="callout">Shopping is profound.  Every purchase is an amen.</span> 
    <br><br>
    There are no consumers. The cycle does not end at the point of sale. Your customers do not consume; they disseminate. Your customers are your carrier pigeons, your countrymen. You have shared values, and therefore have a shared mission to spread these values. Your product is the vehicle to spread these values.
    <br><br>
    Branding is the communication of values- whether through words, images or colors.
    <br><br>
    Building a brand is the process of articulating your values and giving them form through shape, line, color, and language.  This is what people call the creative process.
    <br><br>
    There is a misconception that this is mystical or an inborn talent. This misconception exists because most people (even professionals) never articulate their goals or values, and therefore work in the dark, relying on their unconscious to draw connections and find answers. 
    <br><br></p>
    <blockquote class="blockquote">The truth is creativity is logical.</blockquote> 
    <p>
    Emotion is logical. If it weren’t, storytellers wouldn’t be able to make you feel anything. But we feel things in stories. We cry together. We laugh together. 
    <br><br>
    Design works the same way. There is an objective visual language. You must use it properly in order to communicate the right thing. 
    <br><br>
    There are a few main pieces which make up a brand identity. Each piece should be approached individually but must be cohesive and tell one story, one truth, create its own language and its own world. 
    <br><br>
    The question we will ask again and again is: "What do you want to make them feel?"  You must know which person and which emotion. Then you ask: What is the best way to make them feel that. 
    <br><br>
    There is no best-starting place. You may have a name or just a few fragmented ideas- a flash of color, a font that resonates with you. Start there. Start where you are with what you have.
    <br><br>
    Building your identity is like weaving a web. At the center of the web is your purpose: the emotion you appeal to in the customer, the specific type of imaginary friend you are to your customer. On the edge of this circle, you have the concrete elements of your corporate identity: the name, the logo, the fonts, the voice, the color, the imagery, the packaging, the product etc.
    <br><br>
    At the center of the web is your value statement; the edges of the web are different, concrete ways of restating this. The sum of all of these things is your brand. So it doesn’t matter where you begin.  As you fill in the blanks, it will get easier. But always work from what you have and refer back to your values. These visual elements of the brand are messengers for your ethos, so the color, shape, name, font, and voice must all be in line with your core. Your value statement is your north star. 
    <br><br>
    Articulating the values is articulating the WHAT. The rest of this book focuses on the tangible elements of your brand: the HOW. First, we must decide WHAT we are trying to express. Once we do that it will be possible to decide HOW to best express those values. Logos, colors, slogans-- these are all just other ways of expressing your values. So figure out what you want to express first, then you can go about deciding the best way to express it.
    </p>
    </div>
<div class="center">
<a align="center" href="#ex1" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>
  
  <!--EX 1 -->
<div class="chapter" id="ex1">
      <h5 align="center">Chapter 1.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>In order to begin articulating these values, think through these questions. Write as much as you can. Think of these as prompts to get you going. Write full paragraphs if you want. It asks the same question in many different ways to get you to think about values from many different angles. The answers to these questions will help point to the answer. </p>
    <div class="field center">
      <label class="question">What fantasy are you? People shop because they want to be a different version of themselves. Your product is the first step on the road to a version of themselves that is more:
      <span class="answer"><%= f.text_area :q1, autofocus: false, cols: "30", rows: "2" %></span></label>
    </div>

    <div class="field center">
      <label class="question">We make <span class="answer"><%= f.text_field :q2, autofocus: false, placeholder: "our product" %></span> because we believe <span class="answer"><%= f.text_field :q2a, autofocus: false, placeholder: "our type of product" %></span> should be <span class="answer"><%= f.text_field :q2b, autofocus: false, placeholder: "an adjective" %></span>, <span class="answer"><%= f.text_field :q2c, autofocus: false, autofocus: false, placeholder: "an adjective" %></span>, and <span class="answer"><%= f.text_field :q2d, autofocus: false, autofocus: false, placeholder: "an adjective" %></span> to <span class="answer"><%= f.text_field :q2e, autofocus: false, placeholder: "our audience" %></span> people.</label><br />
      
    </div>
    <div class="field center">
      <label class="question">Your product is a concrete remedy to something emotional or abstract that the customer is missing or lacking. You make something that is a remedy for people who unfortunately feel 
      <span class="answer"><%= f.text_field :q3, autofocus: false %></span>.</label>
    </div>
     <div class="field center">
      <label class="question">Our customers come to us because they want to feel </label>
      <span class="answer"><%= f.text_field :q4, autofocus: false %></span>.
    </div>
     <div class="field center">
      <label class="question">We help people become a different version of themselves. When they think of us and when they use our product, they finally feel more </label>
      <span class="answer"><%= f.text_field :q5, autofocus: false %></span>.
    </div>
    <div class="center">
    <a align="center" href="#chapter2" class="btn btn-primary btn-lg scrollnext">Continue to Chapter 2</a>
    </div>
  </div>
  <!-- END EX 1 -->

  <div id="chapter2" class="chapter">
<h5 align="center">Chapter 2.</h5><h1 align="center">STORIES</h1><br><br>

<span class="callout">
Once you articulate your values, you must communicate these values.<span> <br><br>
<p>
The best way to do this is to tell a story. Sometimes, this is referred to as ‘positioning’ but it is all about telling a story. The way you tell your story is by taking a step back from what we did in chapter one. Take a step back from your values and look at them in a larger context. Examine your values and business in the context of your industry, history, current mood and trends and the customer's life. 
 <br><br>
Your story is: your values in the context of the world today. And when you place your values in the context of larger trends there must not only be tension, there must be conflict. 
 <br><br>
<blockquote class="blockquote">Stories need conflict. </blockquote>
<p>The greater the tension, the starker the conflict, the greater the story. Your story is not a bland novel with weak characters and a meandering plot. Your story is an epic. It is a clash of the titans. If you are not doing something this radical you will not be noticed. If you are not a hero, if you don’t have a villain, you will struggle to be noticed. 
 <br><br>
Stories take three-act structures. 
 <br><br>
Your story goes:  <br>
1. We value these things: ____, _____, and _____. <br>
2. These values conflict with the way business is currently done in our industry.  <br>
3. That’s why we created ____. 
 <br><br>
It starts with values. Values are not easy to hold. It would be easier to go along with the crowd, to take things as they are given, to let them go when they are challenged. But you have values and you hold them stubbornly. Now, they have led you into conflict. Frustration with the way things are done. And rather than bend to the way the world works, you decide to try to change it. 
 <br><br>
This is your story. 
 <br><br>
Your values led you to the problem you are trying to solve. Your values determine the way you solve it. This also determines who your customer is. Problems are personal. Not everyone has the problem you are solving. And even amongst the people who do have your problem, not all of them want it solved the way you solve it. Not everyone has the same values.  <br><br>
You must understand the specific problem for the specific person you are solving-- and that there are other ways this problem could be solved. Seeing your solution in the broader context of possible solutions will help you focus on your solution and your customer. 
 <br><br>
Storytelling is a useful branding exercise because it pushes you to think of your project from an artistic point of view. While it is important to consider competition and formulate a strategy to cut through the noise and convert customers, you should focus at first on telling your story. 
 <br><br>
Many new entrepreneurs worry about coming up with an idea that no one has had before. For one, companies are not based on 'one idea'. Companies are built on hundreds of ideas every day. The unique combination of your ideas and how you execute them is more important than the originality of your business model or subject-matter. Artists don't worry about the fact that someone has painted sunsets before. That is not what matters. Instead, they focus on how they paint the sunset. 
 <br><br>
The same is true for your business. It is how you tell your story. Can you tell it in a way that resonates with today’s audience better than anyone else?  
 <br><br>
Communicate why this and why now. Draw on the history of your trade and place your work as a distinct turning point. 
 <br><br>
You will tell this story again and again- in your company biography, but also in each social media post and in each product. 
 <br><br>
Your product story must follow the same three-act structure: <br>
1. Start with your values.<br>
2. Present your product.<br>
3. Show that your product is a means to capture those values.
 <br><br>
In your product story, the narrative is that you have values. You imbued these values into this product. Now, this product is a means to actualizing these values.  
 <br><br>
This is how you tell your story again and again.
Every chance you get:
 <br><br>
Values.<br>
Tension.<br>
Resolution.
 <br><br>
You (your product, your company) must be a symbol of your values. This is what great stories achieve. 
 <br><br>
Great stories unify your abstract values and your physical creations to make them one and the same. 
<span>
</div>
<div class="center">
<a align="center" href="#ex2" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>
  
   <!--EX 2 -->
<div class="chapter" id="ex2">
      <h5 align="center">Chapter 2.</h5><h1 align="center">EXERCISES</h1><br><br>

 <div class="field center">
      <label class="question">Build a list of your 3 chief values:<br>
      <label>We value</label>
      <span class="answer"><%= f.text_field :q6a, autofocus: false %></span>,

      <span class="answer"><%= f.text_field :q6b, autofocus: false %></span>, and

      <span class="answer"><%= f.text_field :q6c, autofocus: false %></span>.</label>
    </div>

    <div class="field center">
      <label class="question">How is business done today and what is wrong with it?</label><br><small>(Build a list of anti-values that conflict with your answers to the previous question.)</small><br />
      <span class="answer"><%= f.text_area :q8, autofocus: false, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">That’s why we started this.<br>
How does what you are creating answer the conflict?</label><br />
      <span class="answer"><%= f.text_area :q9, autofocus: false, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Who is your villain?</label><br><small>(Be specific. Name a company or two.)</small><br />
      <span class="answer"><%= f.text_area :q10, autofocus: false, cols: "30", rows: "1" %></span>
    </div>

    <div class="field center">
      <label class="question">What is at stake in your battle? And what is your super power that will let you save the day?</label><br />
      <span class="answer"><%= f.text_area :q11, autofocus: false, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Tell your product story: How have you imbued your product with your values?
What tangible things have you done? </label><br><small>Be specific. (Is it where you produced it? Is it low margins? Is it high cost to donate profit? Is it having fewer SKUs? Minimal design?)</small><br />
      <span class="answer"><%= f.text_area :q12, autofocus: false, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Recap the history of your industry that led up to this fork in the road.</label><br><small>(It is the bottom of the ninth... they bring you in because you were born for this moment.)</small><br />
      <span class="answer"><%= f.text_area :q13, autofocus: false, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">What do people care about today more than anything? How does your company deliver on that better than anyone? And why are you uniquely situated to answer this?
</label><br><small>This is the sunset question. (Many artists paint sunsets...) You don’t need to be first - you just need to be the best at explaining yourself.</small><br />
      <span class="answer"><%= f.text_area :q14, autofocus: false, cols: "30", rows: "2" %></span>
    </div>
 <div class="center">
    <a align="center" href="#chapter3" class="btn btn-primary btn-lg">Continue to Chapter 3</a>
    </div>

</div>
<!-- END EX 2 -->
  <div id="chapter3" class="chapter">
    <h5 align="center">Chapter 3.</h5><h1 align="center">NAMES</h1><br><br>
    <p>
    <span class="callout">There are two important things that your name must do.</span> It must be descriptive and it must be emotive. When you do this well there will be a unique feeling expressed by putting these two words together. There should be a novel juxtaposition created by this interplay. This juxtaposition is a boiled down way of communicating your value statement (why your company exists).  <br><br>
    The best process we know of for developing a strong brand name entails creating a Venn diagram. On one side, we list the descriptive elements. On the other side, there are the emotive elements. In the middle, we seek to find an interplay between these two sides. By combining these sides, we hope to capture our mission and purpose in a way that creates tension and familiarity.</p>
    <br><br>
    <div class="venn center">
    <div class="circle">
        <p>
            Descriptive
        </p>
    </div>

    <div class="circle">
        <p>
            Emotive
        </p>
    </div>

    <div class="joined" style="">
        <p>
            You
        </p>
    </div>
</div>
    <br><br><p>
    Take the example of Apple Computers. Two words. One word plays the role of the descriptor. The other word plays the role of the emotional agent. One word says what it is, the next puts a twist on it and says why it is different. There is an intriguing tension created by placing these words together. Computers are complex, cold, robotic, rigid, and unfeeling. Apples are natural, simple, relatable, and nourishing. But not only is this juxtaposition intriguing, engaging, and eye-catching— it is the value proposition of the company: to make computers simple and relatable.  This is what names do at their best. 
    <br><br>
    Over time the name Apple Computers has been shortened to simply Apple. But it still maintains the juxtaposition, intrigue, and bundled value statement of its former, longer self.  This is a lesson that will be repeated in each chapter: although each element of a brand must be woven together. <blockquote>When done well, individual elements can be separated, extracted, and shortened, and simplified- yet the full value of the brand will not be lost.</blockquote> <p>In fact, because the brand has been so deeply imbued in each element, reducing the individual aspects to more basic names or symbols increases the power of the brand.  
    <br><br>
    To state it again: the brand elements must be built together- but when they are built well, they can be separated out and will retain the full brand and act as concentrated pockets which can be unpacked to reveal everything else about the brand. Each element is an emissary and ambassador for the other elements in your brand. It is like the founding team of a company or a sports team. A strong foundation will allow the individual players to move on to act alone and be recognized as individuals, but the place they came from is never forgotten.
    </p>
  </div>
<div class="center">
<a align="center" href="#ex3" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>

<!-- EX 3 -->
<div class="chapter" id="ex3">
      <h5 align="center">Chapter 3.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>Our process for coming up with names that create tension, and interest involves creating a Venn Diagram of names.On one side, you will list descriptive names.On the other side, you will list emotive names.Then you will start stringing these two sides together in different combinations. See what works, what doesn’t. </p>

       <div class="field center">
            <label class="question">What is the descriptive part of your name?<br><small>
List as many as you can think of (and feel free to use a thesaurus).</small><br>
            <span class="answer"><%= f.text_field :q15, autofocus: false %></span></label>
       </div>
       <div class="field center">
            <label class="question">What are the emotive parts of your name?<br><small>
List as many as you can think of (and feel free to use a thesaurus).</small><br>
            <span class="answer"><%= f.text_field :q16, autofocus: false %></span></label>
       </div>
        <div class="field center">
          <label class="question">Now, start stringing them together until you find a combination that captures the crux of your brand promise.</label><br>
          <span class="answer"><%= f.text_field :q17, autofocus: false, cols: "30", rows: "2" %></span>
        </div> 

       <div class="center">
    <a align="center" href="#chapter4" class="btn btn-primary btn-lg scrollnext">Continue to Chapter 4</a>
    </div>
</div>

<!--CHAPTER 4 -->

  
  <div id="chapter4" class="chapter">
  <h5 align="center">Chapter 4.</h5><h1 align="center">VISUALS</h1><br><br>

    <span class="callout">(Logos, fonts, colors)</span>
    <p>
      A logo is another expression of the brand values. It can either be a stylized text-based logo or a graphic logo. 
    <br><br>
    For example, Apple primarily uses a graphic logo. Facebook uses a text-based logo. 
    <br><br>
    Once you have articulated your value statement and your name you will have an easier time making decisions about the logo and fonts.
    <br><br>
    At this point- after having nailed down a few aspects of your brand, there should be enough information to see a trend emerge. By this, I mean, a few natural characteristics in the name, the mission, the sound of the name, the letters used, and what you actually do. The next guiding principle to be introduced is:  
    <br><br>
    Try to make a list of the natural and unique characteristics present in your brand thus far. This is slightly abstract- but it is simpler than it sounds. What I mean is make a list of things like the letter 'T' is repeated in alliteration, if there are any rhymes, or numbers or unique sounds to the words. What we are trying to do is unpack the decisions you have already made in the previous two chapters. Many of the decisions made up until now have been made on feeling and gut impulses. This is ok. But now we are trying to unpack them. We want to unpack them to see objectively their natural characteristics so that we can exploit them.  By exploiting them you create a richer world of your brand, a sharpened language, and a tighter, more unified approach when you face the world. When a customer sees you in the crowd of other brands, you want to stick in their brains - the best way to do this is to focus on your key value and whatever natural sounds or shapes are in this. As your customers are getting to know you try to make them remember as few things as possible. So look at the little natural sounds or shapes in the names and values - and find ways to repeat them or express the same thing in different ways (I.e. Visually through a logo.) So treat the previous decisions as clues to follow to learn more about your brand.  
    <br><br>
    This is all an attempt to accentuate your eccentricities. 
    <br><br>
    An example to clarify this: 
    <br><br>
    The name for the design firm, OSSO, was chosen because it expressed many of our values. The name is short, phonetic. It only uses two letters and repeats both of them once. It is multi-cultural. In Italian and Portuguese, it means bone. This relates to our design sensibilities: bare bones, simple, structural, but strong and sustaining. So that is the name and the values expressed together. Now if I were looking at the natural characteristics and going to attempt to exploit it is would see: the simplicity of the name OSSO. Two letters. Both of the letters are very simple in shape, very geometric. O is a circle. S is a wave. I would notice the word is a palindrome - the same forward and backward. And as it happens the word is symmetrical left to right, right to left, top to bottom, and bottom to top. 
    <br><br>
    So how can we use these natural characteristics to restate the initial values of the brand? We could make patterns out of the shapes of O and S for our packaging and print collateral. Our business cards are blind embossed and left to be unclear which side is up. So when you have a business card that can be read from any direction- this communicates a new value: playfulness and thoughtfulness. It comes off as intellectual and a puzzle. These are all values we consciously want to communicate for OSSO. 
    <br><br>
    If your brand has numbers in the name, where can you repeat numbering? In the packaging to differentiate between different products. On your website to differentiate between pages. As you repeat a brand element it ties the others together and makes for a cohesive, unified, and memorable experience. 
    <br><br>
    If your name uses alliteration- where else can you use alliteration? Can the shape of the repeated letter be morphed into a graphic logo that further expresses your value? 
    <br><br>
    Another example of accentuating an eccentricity is Whole Foods' branding. Their value is natural, wholesomeness, quality, and health. This is expressed in the name. Coincidentally the word Whole has an 'o' in the middle. The shape of an O is the shape of a circle- which is associated with fullness, full circle. So the O becomes the basis for the logo. They illustrate the O to be in the shape of a fruit, with a leaf and stem. This is another natural coincidence that the most popular fruits are round, as is a full circle, as is the letter O which is at the very center of the word Whole. In other branding elements, Whole Foods uses a handwritten font, which has an O character that is a perfectly round O, like a circle. This is an example of accentuating your eccentricities to further illustrate and communicate your brand principles. 
    <br><br>
    The logo should draw upon the natural characteristics in your name that communicate your values. If it is about being elegant, what font and letter-shape can be accentuated to further express this? If it is about being simple what part of your name can express this value? 
    <br><br>
    This is the purpose of the logo- to further express your brand values by accentuating parts of your name. 
    <br><br>
    <blockquote>Accentuate your eccentricities. </blockquote>
    </p>
  </div>
  <div class="center">
<a align="center" href="#ex4" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>
  <!-- EX 4 -->
    <div class="chapter" id="ex4">
      <h5 align="center">Chapter 4.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>Our process for coming up with names that create tension, and interest involves creating a Venn Diagram of names.On one side, you will list descriptive names.On the other side, you will list emotive names.Then you will start stringing these two sides together in different combinations. See what works, what doesn’t. </p>

       <div class="field center">
            <label class="question">What values does your name communicate?<br><small>
      Does the sound of the name make the audience feel what you want them to feel?</small><br>
            <span class="answer"><%= f.text_field :q18, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">What are some of the natural characteristics in your name?<br><small>
      Are there any repeated letters or sounds? Anything unique such as symbols, numbers, foreign or made up words?  If it is a shape or a letter, how can it be accentuated to visualize your values or product or industry?</small><br>
            <span class="answer"><%= f.text_field :q19, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">What else do you notice at the interplay between your name, your values, your industry or product? Is there a tension? Is there a complementarity?<br><small>
      How can you accentuate this eccentricity?</small><br>
            <span class="answer"><%= f.text_field :q20, autofocus: false %></span></label>
       </div>
     </div>
     <div class="center">
    <a align="center" href="#chapter5" class="btn btn-primary btn-lg scrollnext">Continue to Chapter 5</a>
    </div>

   <!-- CHAPTER 5 -->
  <div id="chapter5" class="chapter">
    <h5 align="center">Chapter 5.</h5><h1 align="center">CONTENT</h1><br><br>
    <p>
    <span class="callout">As you fill in pieces of the corporate identity, a portrait should be appearing.</span> The personality of this portrait is largely determined by how it fits into the context of its industry. What makes you different on a personality level-- in terms of how you relate to your customers? 
    <br><br>
    Since you are partly conceived in the context of your industry and competition, part of your identity is formed negatively: I am liked Company X but more ____. 
    <br><br>
    <blockquote>Don't define yourself by your competition- but understand how you are different.  And why you are different in that particular way.</blockquote>
    <p>This is really another way of getting back to values. Your values determine who you are. Your hierarchy of values are different from other nearby brands, so in the mind of customers you take on a different 'personality'. Who you are, seen in the context of your competitors gives you a personality: you're the fun one or the elegant one or the serious one.  
    <br><br>
    Your personality is communicated initially through your logos and colors and name- then beyond this, through your imagery, voice, and other content. The way you make decisions about your voice and visual aesthetic is by following the principles you have already set down: the same guides you used to determine the name and logo extend to actual copywriting whether in advertising, web and print collateral or social media.  
    <br><br>
    <blockquote>The question again is: what is the customer looking to us for? Humor? Inspiration? Aspiration? An intellectual nudge?  </blockquote>
    <p>
    It is kind of abstract to think of brands in your category and having them line up before the customer for judgment-- but this is made concrete in feeds on social media. As your audience scrolls through their Twitter feed, you are standing next to a myriad of brands, entertainers, and new sources. You are truly side-by-side, being compared to brands and people within and beyond your category. Today you are expected to relate to customers on a much deeper level than before. You need to speak to them on many platforms and extend your brand through content that is only peripherally related to your product.
    <br><br>
    It is therefore of the utmost importance to know yourself: to know the characteristics, personality, and attributes you are expected to provide to your audience. Are you the funny friend? Are you the one they go to for advice on how to be sexy? To be cooler? Do they look to you to make them laugh or to Inform them on what is happening in Somalia?  
     <br><br>
    If your brand were an advisor to the customer (on a board along with every other brand they patronize) what role are you playing? Why are you on the board? To help them be more creative? Healthier? More thoughtful? More ethical? If the boardroom analogy doesn't resonate, try thinking of the marketplace of brands as a high school cafeteria. Who are you in that cafeteria? Why is your customer choosing to sit with you? Understanding the personality and human characteristics of your brand will help you understand how you should relate to your customer in the realm that is beyond the product.
    <br><br>
   <strong>This leads into your voice.</strong><br><br> Part of what content is about "What you talk about". The other part is about "How you talk about it." There are many different ways to talk about a single topic. How you discuss a topic matters hugely. This is your tone of voice. The tone you take in communicating with your audience is another important step in conveying your personality and values. Your tone can humanize you. It can make you relatable. It can make you aspirational. It can make you convivial or credible. So, in order to determine your tone, you must first decide how you want your customers and audience to conceive you. Are you like a doctor prescribing an antidote? Are you a friend offering a tip? Are you the cool expert letting them in on the next big trend? <br><br>
Once you have an answer to the way you want to relate to your customer, you can start to answer how that comes to life through tone of voice. This will drive you towards a very specific way of talking. Your voice will come through on your website, packaging, collateral-- through all communication with the world.
You must know how you talk. You must distinctly say: we are this not that. We are always x and never Y.
When you accomplish this, it will further materialize your personality in the mind of the customer. When they can conceive of you cohesively they will trust you, remember you, and be able to seek you for certain specific needs that they will have throughout their lives.
    </p>
  </div>
  <div class="center">
<a align="center" href="#ex5" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>

<!-- CH 5 EX -->
   <div class="chapter" id="ex5">
      <h5 align="center">Chapter 5.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>Our process for coming up with names that create tension, and interest involves creating a Venn Diagram of names.On one side, you will list descriptive names.On the other side, you will list emotive names.Then you will start stringing these two sides together in different combinations. See what works, what doesn’t. </p>

       <div class="field center">
            <label class="question">In the context of other brands in our category, we are the
            <span class="answer"><%= f.text_field :q21, autofocus: false %></span> one.</label>
       </div>
       <div class="field center">
           <label class="question">We are like <span class="answer"><%= f.text_field :q22a, autofocus: false, placeholder: "insert competitor" %></span> but more
            <span class="answer"><%= f.text_field :q22, autofocus: false %></span>.</label>
       </div>
       <div class="field center">
            <label class="question">What role do you play as a boardroom member advising your customer?<br><small>You are the one who advises them on:</small><br>
            <span class="answer"><%= f.text_field :q23, autofocus: false %></span></label>
       </div>
       <div class="field center">
            <label class="question">What is your expertise in an adjective?<br><small>
      You are an expert in being:</small><br>
            <span class="answer"><%= f.text_field :q24, autofocus: false %></span></label>
       </div>
       <div class="field center">
            <label class="question">Your customer hangs out with you because you make them more:
            <span class="answer"><%= f.text_field :q25, autofocus: false %></span>.</label>
       </div>
       <div class="field center">
            <label class="question">What are some topics (beyond your brand or product) that you are both interested in?<br>
            <span class="answer"><%= f.text_field :q26, autofocus: false %></span></label>
       </div>
     </div>
      <div class="center">
      <a align="center" href="#chapter6" class="btn btn-primary btn-lg scrollnext">Continue to Chapter 6</a>
      </div>

<!-- CHAPTER 6 -->
    <div id="chapter6" class="chapter">
    <h5 align="center">Chapter 6.</h5><h1 align="center">DIGITAL</h1><br><br>
    <p>
      Your website is a map that mirrors the thought process of your customer. You must understand the thought process of how they went from looking for a t-shirt, to looking at your t-shirt. So the user-interface of your website should understand the user's journey, and now that they have arrived here, you can shepherd them home to the checkout.
      <br><br>
      The user's journey is a lot like the hero's journey. It has been long, frustrating, and arduous. And just when they are about to give up all hope, just when they think they will never find the thing they have been looking for, they see a glimpse of you. You seem to share their values- in certain non-verbal cues you are sending. This draws them in further. The product looks good, and it is delivered to them in a way that seems to understand their frustrations. It speaks to them without using words. It just feels right. And now that they have swirled so far down the funnel, and miraculously landed on your doorstep, you must invite them in. 
      <br><br>
      <blockquote>You need to know the thought process of your customer better than they do themselves. This is how you guide them.</blockquote>
      <p>
      Understand the thought process of your customer. What are they looking for (experientially)? What has the journey been like? And how is your buying process serving their needs in ways others did not? How are you shepherding them to the finish line? If you can write it out in a step by step process this will help.
      <br><br>
      A bad example of an e-commerce experience is the way most websites handle it. Most websites organize their clothing by category: tops, bottoms, outerwear etc. This is a good and natural filter but it is not a very engaging way to satisfy the customer’s search. It only works to a point. The larger your site gets, the wider your product offering grows, the more overwhelming it is. Customers already have had to filter so many other brands and things to arrive at your shop, the filtering process should not feel like it is starting over again. This pushes brands to focus their offerings. Do one thing really well. Customers today want to shop this way. They want brands to be bite-size. They want to go to one place for one specific thing. They want shopping to be like an app.
      <br><br>
      This is hard for brands with a fully-developed product line in multiple different categories.But as much as you can, you should break down your categories and think of them in basic principles. If you offer, shoes, shirts, and coats, approach each one independently because the way people buy shoes is different from the way they buy shirts. Break up categories into the way a customer thinks about them— then put it all back together. 
      <br><br>
      What is the most relevant divider for your customer? Are they looking for something for hiking as opposed to the beach? This reverts back to the value statement. If your value is that you offer products for specific activities, it is more relevant to your customers to divide your offering by activity than by top or bottom. So analyze your value statement in the context of your customer’s journey. They are frazzled and frustrated. Shopping is a means to an end. It is like dating. The real goal is to find your match. The fun part for your customer is getting to use or wear the thing. So how can you cut through the noise and touch them, surprise them, and shepherd them home?
    </p>
  </div>
  <div class="center">
  <a align="center" href="#ex6" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
  </div>

  <!-- EX 6 -->
    <div class="chapter" id="ex6">
      <h5 align="center">Chapter 6.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>Describe your customer’s journey.</p>
       <div class="field ">
            <label class="question">Once upon a time there was a (target customer-type). They were (characteristics) but they were missing something. Long have they been searching for a
            <span class="answer"><%= f.text_field :q27, autofocus: false %></span> because they hoped that would make them feel <span class="answer"><%= f.text_field :q28, autofocus: false %></span>.</label>
       </div>
       <div class="field ">
            <label class="question">Just when they were about to give up all hope, just when they thought they would never find it.. you came along. <br><br>
            You satisfy their search by vanquishing <span class="answer"><%= f.text_field :q30, autofocus: false %> </span>
            
            and giving them an experience that is <span class="answer"><%= f.text_field :q31, autofocus: false %></span>.
          </label>
       </div>
       <div class="field center">
            <label class="question">What concrete things will communicate the parts of your product that address your customer’s pain points?<small>This can be illustrations, specific pages, or features like liveChat.)</small><br>
            <span class="answer"><%= f.text_field :q32, autofocus: false %></span>.</label>
       </div>
       <div class="field center">
            <label class="question">How does the online experience reiterate your values?<br>
            <span class="answer"><%= f.text_field :q33, autofocus: false %></span>.</label>
       </div>
       <div class="field center">
            <label class="question">What are the last lingering questions in the mind of your customers that you can answer to guide them to the finish line?<br>
            <span class="answer"><%= f.text_field :q34, autofocus: false %></span>.</label>
       </div>
       <div class="field center">
            <label class="question">A normal category for an apparel company is tops, bottoms, outerwear. What are other, more relevant or engaging ways of categorizing your products?
            <br><small>(Color, cost, place of origin, time of day, activity, material?)</small><br>
            <span class="answer"><%= f.text_field :q35, autofocus: false %></span>.</label>
       </div>
    </div>
     <div class="center">
      <a align="center" href="#chapter7" class="btn btn-primary btn-lg scrollnext">Continue to Chapter 7</a>
      </div>
<!-- CHAPTER 7 -->
    <div id="chapter7" class="chapter">
      <h5 align="center">Chapter 7.</h5><h1 align="center">PACKAGING</h1><br><br>
      <p>
        Packaging is often the first tactile experience a customer will have with your brand. 
        <br><br>
        They have seen your website and your social media. They have experienced your brand and the sense of life you have created, but only digitally. You have done enough to entice them to take a chance and order your product. The mail comes, and there it is. 
        <br><br>
        It is another first impression. 
        <br><br>
        You and your customer have been flirting online, but this is the first real meeting. Here they can see if you were honest, if you embellished certain aspects of your personality, if you lied about how classy you actually are. Finally, they can see beyond the photoshopped photos and the marketing language and make a judgment for themselves. So you should take care to not let them down.
        <br><br>
        The language of packaging is spoken in textures, colors, folds, twists, and tucks. There are boxes, bottles, and bags. There are many physical requirements related to packaging that make much packaging design feel the same. But this is an opportunity. 
        <br><br>
        Every time you are lined up next to other brands is an opportunity to stand out. All you have to do is say something. Most packaging just sits there. The package smothers the product, cutting off all emotion, muting the communication of any personality or feeling.
        <br><br>
        But cardboard communicates values. 
        <br><br>
        <blockquote>Every material whispers something different. So use it to further express your values and tell your story.</blockquote>
        <p>
        You communicate emotion through the different materials you select and through the way you design the unboxing moment. The unboxing moment is the reveal, the moments of anticipation the customer feels as they open your packaging and see the product for the first time. 
        <br><br>
        Think about all of the emotions you want them to feel as they go through this process. How can you extend this moment? How can you accentuate it with different steps or touch-points? You can extend the moment by building in elements that heighten the anticipation: maybe it is a string they must untie in order to open the next layer of packaging. You can increase the wonder and delight by hiding 'Easter eggs' or hidden messages underneath different flaps. 
        <br><br>
        <blockquote>Packaging is a lot like theater. You are designing this mini performance for the customer. And you are hoping to make them say, at the end of, 'Wow, that was cool' or sleek or sexy.
        </blockquote><p>
        So work backward from that emotion and design an unboxing moment that will delight them enough to share it with at least one person.
      </p>
    </div>
      <div class="center">
      <a align="center" href="#ex7" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
      </div>
  <!-- EX 7 -->
     <div class="chapter" id="ex7">
      <h5 align="center">Chapter 7.</h5><h1 align="center">EXERCISES</h1><br><br>
      <p>Describe your customer’s journey.</p>
       <div class="field center">
            <label class="question">How do you want your customers to describe the experience of receiving and opening your package?<br>
            <span class="answer"><%= f.text_field :q36, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">What materials can you use to get them to feel this?<br>
            <span class="answer"><%= f.text_field :q37, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">Describe the unboxing moment.<br>
            <small>List the steps in the process (from receiving to seeing the product)</small><br>
            <span class="answer"><%= f.text_field :q38, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">What elements, items, or materials can you add to build anticipation?<br>
            <span class="answer"><%= f.text_field :q39, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">What can you include in the packaging to make it share-able?<br><small>(Can you include some specific physical item or idea they will pass on to at least one friend)?</small>
            <span class="answer"><%= f.text_field :q40, autofocus: false %></span></label>
       </div>
        <div class="field center">
            <label class="question">How does this process play into satisfying the fantasy and remind them that you are helping them be the person they want to be?<br>
            <span class="answer"><%= f.text_field :q41, autofocus: false %></span></label>
       </div>              
     </div>
        <div class="center">
          <a align="center" href="#conclusion" class="btn btn-primary btn-lg scrollnext">Continue to the Conclusion 7</a>
        </div>

<!-- CONCLUSION -->
      <div id="conclusion" class="chapter">
      <h1 align="center">CONCLUSION</h1><br><br>
      <p>
        These chapters have been exercises in articulating the words or emotions that you are bringing to the table.
        <br><br>
        Now, you have gone through the self-discovery to find the fantasy you are, the personality you are, the boardroom member you are, the emotion you are-- the value you are. Now BE that. Be more that than anyone else can be. Maybe it is elegance or intelligence or sexiness or futuristic. In everything you do, ask again and again what is the best way to evoke that?  Try to focus it down to one specific feeling. 
        <blockquote>
        Be an archetype. </blockquote>
        <p>
        Being an archetype means focusing the feeling you are trying to evoke to the maximum. It means knowing who you are, understanding the role you are playing in the mind of the customer, and fulfilling that and nothing else.
        <br><br>
        Many people and brands have a fear of being pigeonholed or stereotyped. They think it will be limiting, reductive, or cut off future business potential or market-share. But being an archetype, does not limit the business from expanding. Understanding the one specific emotion you appeal to is liberating. It means you don't have to try to be anything else to anyone else. It means you don't have to jump through the hoops of appealing to people you don't understand. It means you can be you. You are your values. Be them.
        <br><br>
        All of the best and most successful brands have become archetypes. Most middling brands suffer because they don't evoke anything particular in the mind of the customer. They don't make you feel much of anything. You feel a little of this, a little of that. It is like the person at the party who knows everyone but is close to no one. These brands make many shallow connections without having any real fans. They don't own up to any one feeling. They don't embrace their own values. This is much more deadly to a brand than being too focused.
        <br><br>
        The best brands become their values. By being your values, you become the rally point for anyone else who share those values. Be the rally point. 
        <br><br>
        This doesn't mean being boring. It is not paring down your personality or ambitions.
        <blockquote>
        Clarify don't simplify. </blockquote>
        <p>
        Simplifying is about reducing, stifling yourself, and cutting away.
        <br><br>
        Clarifying is about focusing on the message and getting everything out of the way that does not further it.
        <br><br>
        Clarify your purpose; be an archetype. 
        <br><br>
        Your brand is the God of elegance or athleticism or nostalgia. Your logo, your colors, your language, your packaging all must convey this. The main reason a brand is weak is because it never articulates the primary emotion it is trying to elicit. It never truly understands the reason the customer connects with it and purchases what it is selling. If you don't know the answer to this, you can't design a strong logo or packaging solution or website. Your decisions will be grasping attempts in the dark. You will come off as a scattered, nebulous collection of half-formed ideas. You will be building your future on a wobbly foundation, like trying to build a tent without having a tentpole.
        <br><br>
        Start with the tentpole.
        <br><br>
        You can be the God of anything. But you have to commit to it. You can't switch halfway and decide you want to be the God of something completely different. You can't covet other brands and wish to be the God of something else. You are the God of your chief value. It is already within you. This is why it all begins and ends with values. Values are what drove you into this mess in the first place. The feeling that was so strong it pushed you to venture forth and risk all kinds of things. This is your Genesis. Don't forget it.
        <br><br>
        By understanding more concretely what you value and why you value it, then seeing other brand decisions through this lens, you should be able to go forward and communicate it clearly and consistently. 
        <br><br>
       <blockquote> Take hold of your chief value. Clutch it in your arms as you move forward.</blockquote>
        <br><br><p>
        If you are feeling lost, start at the beginning again. Look within. Everything starts with values. Everything ends with values.
        <br><br><br><br>
      </p>
     </div>


<hr>
<div id="save" class="save-container center">
  <div class="field">
    <label>To save your progress, enter your email</label>  <%= f.email_field :email, autofocus: false %> 
  </div>

  <div class="field">
    <label> and set a password</label>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %><label>.</label>
  </div>


  <div class="actions field">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>


