

<%= render "/pages/sidenav" %>

<%= render "/pages/introduction" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="introduction-title center">
    <div class="field title" align="center">
      <h2 >This is the Anatomy of <%= f.text_field :name, autofocus: true, autocomplete: "off", placeholder: "your brand name here" %>.</h2>
      <a align="center" href="#chapter1" class="btn btn-primary btn-lg scrollnext">&darr;</a>
    </div>
  </div>
<!--CHAPTER 1 -->
<div id="chapter1" class="chapter">
<h5 align="center">Chapter 1.</h5><h1 align="center">VALUES</h1><br><br>
<p>
<span class="callout">Everything starts with values. </span>
<br><br>
<i>The question is:</i> Why are you doing what you are doing. <br><br>
<i>The answer is:</i> values. <br><br>The reason you get up early and stay up late. The voice in your head; the pit in your stomach. You are driven to do something because you care immensely about something. It causes stress and even though it may cause you some pain, caring, in itself, is an accomplishment. You are already ahead of most people if you care about something. Keep caring. You imbue your creation with your values.
<br><br>
You may not know what exactly is driving you- or why you do what you do. That’s ok. It got you this far. But now you must articulate your values. If you don’t, they will slip away and though you continue the work, it will become hollow and tedious to you, and you will wonder what you ever saw in it. 
<br><br>
The important thing is to keep going. It will be exhausting. It will hurt. Most people will stop. But you need to keep going. So now, you need to articulate what it is you are racing towards. Knowing your finish line will help you get there. 
<br><br>
Values are what you are working to hold to or build. This is where you should begin- with values.
<br><br>
(But it rarely begins there. Most often it begins with a stroke of inspiration. An idea. You are going about your business when all of a sudden a connection is made and you have an idea for starting something new. Something that connects old frustrations with new solutions...) 
<br><br>
But even if you begin with the big idea, you must work backward to understand WHY this idea matters to you. 
<br><br>
The reason values still matter (even after you’ve come up with the idea, and even after you’ve developed the product) has to do with the mind of the customer. Your product is likely not the only one of its kind. 
<br><br>
This is okay because we buy things for more than the product. We care about the brand too- about the values associated with the product. Your brand is everything beyond the product. 
<br><br>
<span class="callout">This matters because people buy what is not for sale.</span> 
<br><br>
They buy your values- because they share them. Products are a means to expressing a value. This is why you must articulate your values-- it is what you are selling, it is why you exist in the world and why you have any customers at all. 
<br><br>
You must know what you represent— what fantasy you are in the mind of the customer, what emotion you strike in the customer. The answer to that is why you exist. This is your purpose. It comes from what you value most. 
<br><br>
Shopping is the way we, as customers, communicate what kind of person we are. What we wear says what we like; what we like is what we value, what we value is who we are. 
<br><br>
<span class="callout">Shopping is profound.  Every purchase is an amen.</span> 
<br><br>
There are no consumers. The cycle does not end at the point of sale. Your customers do not consume; they disseminate. Your customers are your carrier pigeons, your countrymen. You have shared values, and therefore have a shared mission to spread these values. Your product is the vehicle to spread these values.
<br><br>
Branding is the communication of values- whether through words, images or colors.
<br><br>
Building a brand is the process of articulating your values and giving them form through shape, line, color, and language.  This is what people call the creative process.
<br><br>
There is a misconception that this is mystical or an inborn talent. This misconception exists because most people (even professionals) never articulate their goals or values, and therefore work in the dark, relying on their unconscious to draw connections and find answers. 
<br><br></p>
<blockquote class="blockquote">The truth is creativity is logical.</blockquote> 
<p>
Emotion is logical. If it weren’t, storytellers wouldn’t be able to make you feel anything. But we feel things in stories. We cry together. We laugh together. 
<br><br>
Design works the same way. There is an objective visual language. You must use it properly in order to communicate the right thing. 
<br><br>
There are a few main pieces which make up a brand identity. Each piece should be approached individually but must be cohesive and tell one story, one truth, create its own language and its own world. 
<br><br>
The question we will ask again and again is: "What do you want to make them feel?"  You must know which person and which emotion. Then you ask: What is the best way to make them feel that. 
<br><br>
There is no best-starting place. You may have a name or just a few fragmented ideas- a flash of color, a font that resonates with you. Start there. Start where you are with what you have.
<br><br>
Building your identity is like weaving a web. At the center of the web is your purpose: the emotion you appeal to in the customer, the specific type of imaginary friend you are to your customer. On the edge of this circle, you have the concrete elements of your corporate identity: the name, the logo, the fonts, the voice, the color, the imagery, the packaging, the product etc.
<br><br>
At the center of the web is your value statement; the edges of the web are different, concrete ways of restating this. The sum of all of these things is your brand. So it doesn’t matter where you begin.  As you fill in the blanks, it will get easier. But always work from what you have and refer back to your values. These visual elements of the brand are messengers for your ethos, so the color, shape, name, font, and voice must all be in line with your core. Your value statement is your north star. 
<br><br>
Articulating the values is articulating the WHAT. The rest of this book focuses on the tangible elements of your brand: the HOW. First, we must decide WHAT we are trying to express. Once we do that it will be possible to decide HOW to best express those values. Logos, colors, slogans-- these are all just other ways of expressing your values. So figure out what you want to express first, then you can go about deciding the best way to express it.
</p>
</div>
<div class="center">
<a align="center" href="#ex1" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>
  
  <!--EX 1 -->
<div class="chapter" id="ex1">
      <h3 align="center">Chapter 1 - Exercises</h5>
      <p>In order to begin articulating these values, think through these questions. Write as much as you can. Think of these as prompts to get you going. Write full paragraphs if you want. It asks the same question in many different ways to get you to think about values from many different angles. The answers to these questions will help point to the answer. </p>
    <div class="field center">
      <label class="question">What fantasy are you? People shop because they want to be a different version of themselves. Your product is the first step on the road to version of themselves that is more:</label><br />
      <span class="answer"><%= f.text_area :q1, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">We make ____ because we believe _____ should be ____, ____, and _____ to ___these people.</label><br />
      <span class="answer"><%= f.text_field :q2, autofocus: true %></span>
    </div>
    <div class="field center">
      <label class="question">Your product is a concrete remedy to something emotional or abstract that the customer is missing or lacking. You make something that is a remedy for people who unfortunately feel </label>
      <span class="answer"><%= f.text_field :q3, autofocus: true %></span>
    </div>
     <div class="field center">
      <label class="question">Our customers come to us because they want to feel </label>
      <span class="answer"><%= f.text_field :q4, autofocus: true %></span>.
    </div>
     <div class="field center">
      <label class="question">We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more </label>
      <span class="answer"><%= f.text_field :q5, autofocus: true %></span>.
    </div>
    <div class="center">
    <a align="center" href="#chapter2" class="btn btn-primary btn-lg">Continue to Chapter 2</a>
    </div>
  </div>
  <!-- END EX 1 -->

  <div id="chapter2" class="chapter">
<h5 align="center">Chapter 2.</h5><h1 align="center">STORIES</h1><br><br>

<span class="callout">
Once you articulate your values, you must communicate these values.<span> <br><br>
<p>
The best way to do this is to tell a story. Sometimes, this is referred to as ‘positioning’ but it is all about telling a story. The way you tell your story is by taking a step back from what we did in chapter one. Take a step back from your values and look at them in a larger context. Examine your values and business in the context of your industry, history, current mood and trends and the customer's life. 
 <br><br>
Your story is: your values in the context of the world today. And when you place your values in the context of larger trends there must not only be tension, there must be conflict. 
 <br><br>
<blockquote class="blockquote">Stories need conflict. </blockquote>
<p>The greater the tension, the starker the conflict, the greater the story. Your story is not a bland novel with weak characters and a meandering plot. Your story is an epic. It is a clash of the titans. If you are not doing something this radical you will not be noticed. If you are not a hero, if you don’t have a villain, you will struggle to be noticed. 
 <br><br>
Stories take three-act structures. 
 <br><br>
Your story goes:  <br>
1. We value these things: ____, _____, and _____. <br>
2. These values conflict with the way business is currently done in our industry.  <br>
3. That’s why we created ____. 
 <br><br>
It starts with values. Values are not easy to hold. It would be easier to go along with the crowd, to take things as they are given, to let them go when they are challenged. But you have values and you hold them stubbornly. Now, they have led you into conflict. Frustration with the way things are done. And rather than bend to the way the world works, you decide to try to change it. 
 <br><br>
This is your story. 
 <br><br>
Your values led you to the problem you are trying to solve. Your values determine the way you solve it. This also determines who your customer is. Problems are personal. Not everyone has the problem you are solving. And even amongst the people who do have your problem, not all of them want it solved the way you solve it. Not everyone has the same values.  <br><br>
You must understand the specific problem for the specific person you are solving-- and that there are other ways this problem could be solved. Seeing your solution in the broader context of possible solutions will help you focus on your solution and your customer. 
 <br><br>
Storytelling is a useful branding exercise because it pushes you to think of your project from an artistic point of view. While it is important to consider competition and formulate a strategy to cut through the noise and convert customers, you should focus at first on telling your story. 
 <br><br>
Many new entrepreneurs worry about coming up with an idea that no one has had before. For one, companies are not based on 'one idea'. Companies are built on hundreds of ideas every day. The unique combination of your ideas and how you execute them is more important than the originality of your business model or subject-matter. Artists don't worry about the fact that someone has painted sunsets before. That is not what matters. Instead, they focus on how they paint the sunset. 
 <br><br>
The same is true for your business. It is how you tell your story. Can you tell it in a way that resonates with today’s audience better than anyone else?  
 <br><br>
Communicate why this and why now. Draw on the history of your trade and place your work as a distinct turning point. 
 <br><br>
You will tell this story again and again- in your company biography, but also in each social media post and in each product. 
 <br><br>
Your product story must follow the same three-act structure: <br>
1. Start with your values.<br>
2. Present your product.<br>
3. Show that your product is a means to capture those values.
 <br><br>
In your product story, the narrative is that you have values. You imbued these values into this product. Now, this product is a means to capturing these values.  
 <br><br>
This is how you tell your story again and again.
Every chance you get:
 <br><br>
Values.<br>
Tension.<br>
Resolution.
 <br><br>
You (your product, your company) must be a symbol of your values. This is what great stories achieve. 
 <br><br>
Great stories unify your abstract values and your physical creations to make them one and the same. 
<span>
</div>
<div class="center">
<a align="center" href="#ex2" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>
  
   <!--EX 2 -->
<div class="chapter" id="ex2">
      <h3 align="center">Chapter 2 - Exercises</h5>
  

 <div class="field center">
      <label class="question">Build a list of your 3 chief values:<br>
      <label>We value</label>
      <span class="answer"><%= f.text_field :q6a, autofocus: true %></span>,

      <span class="answer"><%= f.text_field :q6b, autofocus: true %></span>, and

      <span class="answer"><%= f.text_field :q6c, autofocus: true %></span>.</label>
    </div>

    <div class="field center">
      <label class="question">How is business done today and what is wrong with it?</label><br><small>(Build a list of anti-values that conflict with your answers to the previous question.)</small><br />
      <span class="answer"><%= f.text_area :q8, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">That’s why we started this.<br>
How does what you are creating answer the conflict?</label><br />
      <span class="answer"><%= f.text_area :q9, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Who is your villain?</label><br><small>(Be specific. Name a company or two.)</small><br />
      <span class="answer"><%= f.text_area :q10, autofocus: true, cols: "30", rows: "1" %></span>
    </div>

    <div class="field center">
      <label class="question">What is at stake in your battle? And what is your super power that will let you save the day?</label><br />
      <span class="answer"><%= f.text_area :q11, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Tell your product story: How have you imbued your product with your values?
What tangible things have you done? </label><br><small>Be specific. (Is it where you produced it? Is it low margins? Is it high cost to donate profit? Is it having fewer SKUs? Minimal design?)</small><br />
      <span class="answer"><%= f.text_area :q12, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">Recap the history of your industry that led up to this fork in the road.</label><br><small>(It is the bottom of the ninth... they bring you in because you were born for this moment.)</small><br />
      <span class="answer"><%= f.text_area :q13, autofocus: true, cols: "30", rows: "2" %></span>
    </div>

    <div class="field center">
      <label class="question">What do people care about today more than anything? How does your company deliver on that better than anyone? And why are you uniquely situated to answer this?
</label><br><small>This is the sunset question. (Many artists paint sunsets...) You don’t need to be first - you just need to be the best at explaining yourself.</small><br />
      <span class="answer"><%= f.text_area :q14, autofocus: true, cols: "30", rows: "2" %></span>
    </div>
 <div class="center">
    <a align="center" href="#chapter3" class="btn btn-primary btn-lg">Continue to Chapter 3</a>
    </div>

</div>
<!-- END EX 2 -->
<div id="chapter3" class="chapter">
<h5 align="center">Chapter 3.</h5><h1 align="center">NAMES</h1><br><br>
<p>
<span class="callout">There are two important things that your name must do.</span> It must be descriptive and it must be emotive. When you do this well there will be a unique feeling expressed by putting these two words together. There should be a novel juxtaposition created by this interplay. This juxtaposition is a boiled down way of communicating your value statement (why your company exists).  
<br><br>
Take the example of Apple Computers. Two words. One word plays the role of the descriptor. The other word plays the role of the emotional agent. One word says what it is, the next puts a twist on it and says why it is different. There is an intriguing tension created by placing these words together. Computers are complex, cold, robotic, rigid, and unfeeling. Apples are natural, simple, relatable, and nourishing. But not only is this juxtaposition intriguing, engaging, and eye-catching— it is the value proposition of the company: to make computers simple and relatable.  This is what names do at their best. 
<br><br>
Over time the name Apple Computers has been shortened to simply Apple. But it still maintains the juxtaposition, intrigue, and bundled value statement of its former, longer self.  This is a lesson that will be repeated in each chapter: although each element of a brand must be woven together. <blockquote>When done well, individual elements can be separated, extracted, and shortened, and simplified- yet the full value of the brand will not be lost.</blockquote> <p>In fact, because the brand has been so deeply imbued in each element, reducing the individual aspects to more basic names or symbols increases the power of the brand.  
<br><br>
To state it again: the brand elements must be built together- but when they are built well, they can be separated out and will retain the full brand and act as concentrated pockets which can be unpacked to reveal everything else about the brand. Each element is an emissary and ambassador for the other elements in your brand. It is like the founding team of a company or a sports team. A strong foundation will allow the individual players to move on to act alone and be recognized as individuals, but the place they came from is never forgotten.
</p>
</div>
<div class="center">
<a align="center" href="#ex3" class="btn btn-primary btn-lg scrollnext">Let's do some exercises</a>
</div>

<!-- EX 3 -->
<div class="chapter" id="ex3">
      <h3 align="center">Chapter 3 - Exercises</h5>
      <p>Our process for coming up with names that create tension, and interest involves creating a Venn Diagram of names.On one side, you will list descriptive names.On the other side, you will list emotive names.Then you will start stringing these two sides together in different combinations. See what works, what doesn’t. </p>


       <div class="center">
    <a align="center" href="#chapter4" class="btn btn-primary btn-lg">Continue to Chapter 4</a>
    </div>
</div>

<!--CHAPTER 4 -->
   

<hr>
<div id="save" class="save-container center">
  <div class="field">
    <label>To save your progress, entrer your email</label>  <%= f.email_field :email, autofocus: true %> 
  </div>

  <div class="field">
    <label> and set a password</label>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %><label>.</label>
  </div>


  <div class="actions field">
    <%= f.submit "Save" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>


