<ul>
	<h1 align="center">The Anatomy of <%= @brand.name %></h1>

		<li>
			<p class="question">
				What fantasy are you? People shop because they want to be a different version of themselves. Your product is the first step on the road to version of themselves that is more:
			</p>
			<p class="answer">	
			<%= @brand.q1 %>
			</p>
		</li>

		<li>
			<p class="question">
				We make ____ because we believe _____ should be ____, ____, and _____ to ___these people.
			</p>
			<p class="answer">
			<%= @brand.q2 %>
			</p>
		</li>


		<li>
			<p class="question">
				Your product is a concrete remedy to something emotional or abstract that the customer is missing or lacking. You make something that is a remedy for people who unfortunately feel...
			</p>
			<p class="answer">
			<%= @brand.q3 %>
			</p>
		</li>
		<li>
			<p class="question">
				Our customers come to us because they want to feel...
			</p>
			<p class="answer">
			<%= @brand.q4 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q5 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q6a %>, <%= @brand.q6b %>, and <%= @brand.q6c %>.
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q8 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q9 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q10 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q11 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q12 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q13 %>
			</p>
		</li>
		<li>
			<p class="question">
				We help people become a different version of themselves. When they think of a us and when they use our product, they finally feel more...
			</p>
			<p class="answer">
			<%= @brand.q14 %>
			</p>
		</li>



	</ul>